In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import gensim
from nltk import sent_tokenize
from gensim.utils import simple_preprocess

In [92]:
resume_data = pd.read_csv('/Users/prabalsingh/Downloads/UpdatedResumeDataSet.csv')

In [93]:
resume_data

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [94]:
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-/.:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [95]:
resume_data['Cleaned_Resume'] = resume_data['Resume'].apply(lambda x:cleanResume(x))

In [62]:
resume_data['Category'].unique()

array(['Data Science', 'HR', 'Advocate', 'Arts', 'Web Designing',
       'Mechanical Engineer', 'Sales', 'Health and fitness',
       'Civil Engineer', 'Java Developer', 'Business Analyst',
       'SAP Developer', 'Automation Testing', 'Electrical Engineering',
       'Operations Manager', 'Python Developer', 'DevOps Engineer',
       'Network Security Engineer', 'PMO', 'Database', 'Hadoop',
       'ETL Developer', 'DotNet Developer', 'Blockchain', 'Testing'],
      dtype=object)

In [96]:
categories_to_filter = ['Data Science','Business Analyst','Python Developer', 'Database', 'DevOps Engineer', 'Hadoop']
resume_data = resume_data[resume_data['Category'].isin(categories_to_filter)]

In [91]:
for i in :

Data Science
Business Analyst
Python Developer
DevOps Engineer
Database
Hadoop

In [99]:
categories = resume_data['Category'].unique()
cat_groups = resume_data.groupby(['Category'])
for (category,group) in cat_groups):
    if categories_

403    Education Details BE Computer Science Mumbai M...
404    Technical Skills Application Servers IIS 6 0 J...
405    Key Skills Requirement Gathering Requirement A...
406    IT Skills Area Exposure Modeling Tool Bizagi M...
407    TECHNOLOGICAL SKILLS Knowledge of Computers on...
408    Education Details February 2006 to February 20...
409    Key Skills Requirement Gathering Requirement A...
410    IT Skills Area Exposure Modeling Tool Bizagi M...
411    TECHNOLOGICAL SKILLS Knowledge of Computers on...
412    Education Details February 2006 to February 20...
413    Key Skills Requirement Gathering Requirement A...
414    IT Skills Area Exposure Modeling Tool Bizagi M...
415    TECHNOLOGICAL SKILLS Knowledge of Computers on...
416    Education Details February 2006 to February 20...
417    Education Details BE Computer Science Mumbai M...
418    Technical Skills Application Servers IIS 6 0 J...
419    Key Skills Requirement Gathering Requirement A...
420    IT Skills Area Exposure Modeling Tool Bizagi M...
421    TECHNOLOGICAL SKILLS Knowledge of Computers on...
422    Education Details February 2006 to February 20...
423    Key Skills Requirement Gathering Requirement A...
424    IT Skills Area Exposure Modeling Tool Bizagi M...
425    TECHNOLOGICAL SKILLS Knowledge of Computers on...
426    Education Details February 2006 to February 20...
427    Key Skills Requirement Gathering Requirement A...
428    IT Skills Area Exposure Modeling Tool Bizagi M...
429    TECHNOLOGICAL SKILLS Knowledge of Computers on...
430    Education Details February 2006 to February 20...
Name: Cleaned_Resume, dtype: object
0     Skills Programming Languages Python pandas num...
1     Education Details May 2013 to May 2017 B E UIT...
2     Areas of Interest Deep Learning Control System...
3     Skills R Python SAP HANA Tableau SAP HANA SQL ...
4     Education Details MCA YMCAUST Faridabad Haryan...
5     SKILLS C Basics IOT Python MATLAB Data Science...
6     Skills Python Tableau Data Visualization R Stu...
7     Education Details B Tech Rayat and Bahra Insti...
8     Personal Skills Ability to quickly grasp techn...
9     Expertise Data and Quantitative Analysis Decis...
10    Skills Programming Languages Python pandas num...
11    Education Details May 2013 to May 2017 B E UIT...
12    Areas of Interest Deep Learning Control System...
13    Skills R Python SAP HANA Tableau SAP HANA SQL ...
14    Education Details MCA YMCAUST Faridabad Haryan...
15    SKILLS C Basics IOT Python MATLAB Data Science...
16    Skills Python Tableau Data Visualization R Stu...
17    Education Details B Tech Rayat and Bahra Insti...
18    Personal Skills Ability to quickly grasp techn...
19    Expertise Data and Quantitative Analysis Decis...
20    Skills Programming Languages Python pandas num...
21    Education Details May 2013 to May 2017 B E UIT...
22    Areas of Interest Deep Learning Control System...
23    Skills R Python SAP HANA Tableau SAP HANA SQL ...
24    Education Details MCA YMCAUST Faridabad Haryan...
25    SKILLS C Basics IOT Python MATLAB Data Science...
26    Skills Python Tableau Data Visualization R Stu...
27    Education Details B Tech Rayat and Bahra Insti...
28    Personal Skills Ability to quickly grasp techn...
29    Expertise Data and Quantitative Analysis Decis...
30    Skills Programming Languages Python pandas num...
31    Education Details May 2013 to May 2017 B E UIT...
32    Areas of Interest Deep Learning Control System...
33    Skills R Python SAP HANA Tableau SAP HANA SQL ...
34    Education Details MCA YMCAUST Faridabad Haryan...
35    SKILLS C Basics IOT Python MATLAB Data Science...
36    Skills Python Tableau Data Visualization R Stu...
37    Education Details B Tech Rayat and Bahra Insti...
38    Personal Skills Ability to quickly grasp techn...
39    Expertise Data and Quantitative Analysis Decis...
Name: Cleaned_Resume, dtype: object
709    TECHNICAL EXPE ISE DB Languages SQL Database T...
710    Technical Expertise Operating Systems Microsof...
711    TECHNICAL SKILLS Operating Systems MS Windows ...
712    SKILLSET Oracle DBA MySQL MARIADB PostgreSQL D...
713    Education Details January 2016 BSc Mumbai Maha...
714    TECHNICAL SKILL Operating System LINUX Windows...
715    Technical Skills Databases Oracle RDBMS 10g 11...
716    Software Skills RDBMS MS SQL SERVER 2000 2005 ...
717    Areas of Expertise Oracle Databases 12c 11g 10...
718    Education Details May 2011 to May 2014 Bachelo...
719    TECHNICAL SKILLS SQL Oracle v10 v11 v12 R prog...
720    TECHNICAL EXPE ISE DB Languages SQL Database T...
721    Technical Expertise Operating Systems Microsof...
722    TECHNICAL SKILLS Operating Systems MS Windows ...
723    SKILLSET Oracle DBA MySQL MARIADB PostgreSQL D...
724    Education Details January 2016 BSc Mumbai Maha...
725    TECHNICAL SKILL Operating System LINUX Windows...
726    Technical Skills Databases Oracle RDBMS 10g 11...
727    Software Skills RDBMS MS SQL SERVER 2000 2005 ...
728    Areas of Expertise Oracle Databases 12c 11g 10...
729    Education Details May 2011 to May 2014 Bachelo...
730    TECHNICAL SKILLS SQL Oracle v10 v11 v12 R prog...
731    TECHNICAL EXPE ISE DB Languages SQL Database T...
732    Technical Expertise Operating Systems Microsof...
733    TECHNICAL SKILLS Operating Systems MS Windows ...
734    SKILLSET Oracle DBA MySQL MARIADB PostgreSQL D...
735    Education Details January 2016 BSc Mumbai Maha...
736    TECHNICAL SKILL Operating System LINUX Windows...
737    Technical Skills Databases Oracle RDBMS 10g 11...
738    Software Skills RDBMS MS SQL SERVER 2000 2005 ...
739    Areas of Expertise Oracle Databases 12c 11g 10...
740    Education Details May 2011 to May 2014 Bachelo...
741    TECHNICAL SKILLS SQL Oracle v10 v11 v12 R prog...
Name: Cleaned_Resume, dtype: object
599    Skills VISA B1 VISA USA Onsite Visits to Swede...
600    Software Proficiency Languages Basics of C SQL...
601    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
602    Technical Skills Key Skills MS Technology Net ...
603    Core skills Project Program Management Agile S...
604    Total IT Experience 15 years Core expertise in...
605    TECHNICAL SKILLS HP ALM C and JIRA AS400 iSeri...
606    Skills VISA B1 VISA USA Onsite Visits to Swede...
607    Software Proficiency Languages Basics of C SQL...
608    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
609    Skills VISA B1 VISA USA Onsite Visits to Swede...
610    Software Proficiency Languages Basics of C SQL...
611    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
612    Skills VISA B1 VISA USA Onsite Visits to Swede...
613    Software Proficiency Languages Basics of C SQL...
614    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
615    Skills VISA B1 VISA USA Onsite Visits to Swede...
616    Software Proficiency Languages Basics of C SQL...
617    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
618    Skills VISA B1 VISA USA Onsite Visits to Swede...
619    Software Proficiency Languages Basics of C SQL...
620    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
621    Skills VISA B1 VISA USA Onsite Visits to Swede...
622    Software Proficiency Languages Basics of C SQL...
623    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
624    Skills VISA B1 VISA USA Onsite Visits to Swede...
625    Software Proficiency Languages Basics of C SQL...
626    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
627    Skills VISA B1 VISA USA Onsite Visits to Swede...
628    Software Proficiency Languages Basics of C SQL...
629    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
630    Skills VISA B1 VISA USA Onsite Visits to Swede...
631    Software Proficiency Languages Basics of C SQL...
632    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
633    Skills VISA B1 VISA USA Onsite Visits to Swede...
634    Software Proficiency Languages Basics of C SQL...
635    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
636    Skills VISA B1 VISA USA Onsite Visits to Swede...
637    Software Proficiency Languages Basics of C SQL...
638    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
639    Skills VISA B1 VISA USA Onsite Visits to Swede...
640    Software Proficiency Languages Basics of C SQL...
641    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
642    Skills VISA B1 VISA USA Onsite Visits to Swede...
643    Software Proficiency Languages Basics of C SQL...
644    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
645    Skills VISA B1 VISA USA Onsite Visits to Swede...
646    Software Proficiency Languages Basics of C SQL...
647    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
648    Skills VISA B1 VISA USA Onsite Visits to Swede...
649    Software Proficiency Languages Basics of C SQL...
650    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
651    Skills VISA B1 VISA USA Onsite Visits to Swede...
652    Software Proficiency Languages Basics of C SQL...
653    CORE COMPETENCIES Ant Maven GIT Bitbucket Jenk...
Name: Cleaned_Resume, dtype: object
742    Education Details Hadoop Developer Hadoop Deve...
743    Skill Set Hadoop Map Reduce HDFS Hive Sqoop ja...
744     Operating systems Linux Ubuntu Windows 2007 0...
745    Areas of expertise Big Data Ecosystems Hadoop ...
746    Technical Skill Set Programming Languages Apac...
747    Technical Skills Programming Languages C C Jav...
748    Technical Skill Set Big Data Ecosystems Hadoop...
749    Education Details Hadoop Developer Hadoop Deve...
750    Skill Set Hadoop Map Reduce HDFS Hive Sqoop ja...
751     Operating systems Linux Ubuntu Windows 2007 0...
752    Areas of expertise Big Data Ecosystems Hadoop ...
753    Technical Skill Set Programming Languages Apac...
754    Technical Skills Programming Languages C C Jav...
755    Technical Skill Set Big Data Ecosystems Hadoop...
756    Education Details Hadoop Developer Hadoop Deve...
757    Skill Set Hadoop Map Reduce HDFS Hive Sqoop ja...
758     Operating systems Linux Ubuntu Windows 2007 0...
759    Areas of expertise Big Data Ecosystems Hadoop ...
760    Technical Skill Set Programming Languages Apac...
761    Technical Skills Programming Languages C C Jav...
762    Technical Skill Set Big Data Ecosystems Hadoop...
763    Education Details Hadoop Developer Hadoop Deve...
764    Skill Set Hadoop Map Reduce HDFS Hive Sqoop ja...
765     Operating systems Linux Ubuntu Windows 2007 0...
766    Areas of expertise Big Data Ecosystems Hadoop ...
767    Technical Skill Set Programming Languages Apac...
768    Technical Skills Programming Languages C C Jav...
769    Technical Skill Set Big Data Ecosystems Hadoop...
770    Education Details Hadoop Developer Hadoop Deve...
771    Skill Set Hadoop Map Reduce HDFS Hive Sqoop ja...
772     Operating systems Linux Ubuntu Windows 2007 0...
773    Areas of expertise Big Data Ecosystems Hadoop ...
774    Technical Skill Set Programming Languages Apac...
775    Technical Skills Programming Languages C C Jav...
776    Technical Skill Set Big Data Ecosystems Hadoop...
777    Education Details Hadoop Developer Hadoop Deve...
778    Skill Set Hadoop Map Reduce HDFS Hive Sqoop ja...
779     Operating systems Linux Ubuntu Windows 2007 0...
780    Areas of expertise Big Data Ecosystems Hadoop ...
781    Technical Skill Set Programming Languages Apac...
782    Technical Skills Programming Languages C C Jav...
783    Technical Skill Set Big Data Ecosystems Hadoop...
Name: Cleaned_Resume, dtype: object
551    Technical Skills Responsibilities Hands on Exp...
552    Education Details June 2013 to June 2016 Diplo...
553    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
554    Technical Skills Languages Python Python Frame...
555    Training attended 1 Su essfully completed ESD ...
556     Operating Systems Windows Others MS Excel MS ...
557    Technical Skills Responsibilities Hands on Exp...
558    Education Details June 2013 to June 2016 Diplo...
559    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
560    Technical Skills Languages Python Python Frame...
561    Training attended 1 Su essfully completed ESD ...
562     Operating Systems Windows Others MS Excel MS ...
563    Technical Skills Responsibilities Hands on Exp...
564    Education Details June 2013 to June 2016 Diplo...
565    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
566    Technical Skills Languages Python Python Frame...
567    Training attended 1 Su essfully completed ESD ...
568     Operating Systems Windows Others MS Excel MS ...
569    Technical Skills Responsibilities Hands on Exp...
570    Education Details June 2013 to June 2016 Diplo...
571    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
572    Technical Skills Languages Python Python Frame...
573    Training attended 1 Su essfully completed ESD ...
574     Operating Systems Windows Others MS Excel MS ...
575    Technical Skills Responsibilities Hands on Exp...
576    Education Details June 2013 to June 2016 Diplo...
577    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
578    Technical Skills Languages Python Python Frame...
579    Training attended 1 Su essfully completed ESD ...
580     Operating Systems Windows Others MS Excel MS ...
581    Technical Skills Responsibilities Hands on Exp...
582    Education Details June 2013 to June 2016 Diplo...
583    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
584    Technical Skills Languages Python Python Frame...
585    Training attended 1 Su essfully completed ESD ...
586     Operating Systems Windows Others MS Excel MS ...
587    Technical Skills Responsibilities Hands on Exp...
588    Education Details June 2013 to June 2016 Diplo...
589    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
590    Technical Skills Languages Python Python Frame...
591    Training attended 1 Su essfully completed ESD ...
592     Operating Systems Windows Others MS Excel MS ...
593    Technical Skills Responsibilities Hands on Exp...
594    Education Details June 2013 to June 2016 Diplo...
595    TECHNICAL PROFICIENCIES Platform Ubuntu Fedora...
596    Technical Skills Languages Python Python Frame...
597    Training attended 1 Su essfully completed ESD ...
598     Operating Systems Windows Others MS Excel MS ...
Name: Cleaned_Resume, dtype: object